/* Fonts */
/*
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}
*/






/*---------------------------------------------------------------------------------------------------------------------------------------------
/*-------------------------------------------COLORES GLOBALES SITIO WEB------------------------------------------------------------------------
/*creamos la variable "--Color-por-defecto" dentro de root= sirve para definir variables globales para que se puedan llamar en todo el documento css*/
:root {
    /*PARA LOS TEXTOS: DE LA ESTRUCTURA BASICA DE HTML(viñetas del menu,Freelancer Personal Website,Perfil Profesional y parrafo,Acerca de mi y parrafo,
    Experiencia y parrafo,Servicios y parrafo,Proyectos y parrafo, Contacto y parrafo, formulario(Nombre, Correo electronico, Mensaje 
     y derecho de autor: © 2024 Mi Página Web. Todos los derechos reservados )*/
    --Color-por-defecto: #2E236C; 
    /*VARIABLE PARA: el fondo de la pagina o paginas segun donde se reutilicen*/ 
    --background-color: #EEEDEB;
 
}


/*--------------------------------------------------------------
# ESTILO GENERAL Y CLASES COMPARTIDAS
--------------------------------------------------------------*/

/*APLICAMOS ESTILOS A TODOS LAS ETIQUETAS DE BODY EN GENERAL(TODAS LAS PAGINAS CON HTML)*/
body {
    /*llamamos la variable "--Color-por-defecto" para colocar el color al texto de la estructura basica de html var= sirve para llamar las variables y reutilizarlas */
    color: var(--Color-por-defecto);
     /*llamamos la variable "--Color-por-defecto" para colocar el color al texto de la estructura basica de html var= sirve para llamar las variables y reutilizarlas */
    background-color: var(--background-color);
     /*llamamos la variable "--Color-por-defecto" para colocar el color al texto de la estructura basica de html var= sirve para llamar las variables y reutilizarlas */
    /*font-family: var(--default-font);*/
  }
  
  /*
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }*/
  