
/*---------------------------------------------------------------------------------------------------------------------------------------------
/*-------------------------------------------FUENTES GLOBALES SITIO WEB------------------------------------------------------------------------
/*creamos la variable "--Fuente_por_defecto" dentro de root= sirve para definir variables globales para que se puedan llamar en todo el documento css*/
:root {
    /*CREAMOS VARIABLE PARA: asignar diferentes tipos de fuentes de la font-family, y el navegador interpretara la primera qu este disponible segun el sistema del usuario segun los diferentes dispositivos y plataformas*/
  --Fuente_por_defecto: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   /*VARIABLE PARA: asignar diferentes tipos de fuentes de la font-family para el encabezado de la página */
  --Fuente-delencabezado: "Raleway",  sans-serif;
} 
/*--------------------------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------------------------
/*-------------------------------------------COLORES GLOBALES SITIO WEB------------------------------------------------------------------------
/*creamos la variable "--Color-por-defecto" dentro de root= sirve para definir variables globales para que se puedan llamar en todo el documento css*/
:root {
    /*PARA LOS TEXTOS: DE LA ESTRUCTURA BASICA DE HTML(viñetas del menu,Freelancer Personal Website,Perfil Profesional y parrafo,Acerca de mi y parrafo,
    Experiencia y parrafo,Servicios y parrafo,Proyectos y parrafo, Contacto y parrafo, formulario(Nombre, Correo electronico, Mensaje 
     y derecho de autor: © 2024 Mi Página Web. Todos los derechos reservados )*/
    --Color-por-defecto: #2E236C; 
    /*VARIABLE PARA: el fondo de la pagina o paginas segun donde se reutilicen*/ 
    --Color-fondo-pagina: #EEEDEB;
    /*VARIABLE PARA: el color del texto del los enlaces del menu de la pagina o paginas segun donde se reutilicen*/
    --Color-texto-enlace: #149ddd;
    /*VARIABLE PARA: el color del texto del acento de los titulos , parrafos etc en  la pagina o paginas segun donde se reutilicen*/
    --Color-de-acento: #149ddd; 
    /*VARIABLE PARA: el color del texto del encabezado y subencabezados,en  la pagina o paginas segun donde se reutilicen(Freelancer Personal Website,Perfil Profesional,Acerca de mi,Experiencia,Servicios,Proyectos,Contacto)*/
    --Color-del-encabezado: #050d18;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

/*define dos variables personalizadas (--background-color y --surface-color) para un elemento con la clase .light-background. Estas variables se utilizan para establecer los colores de fondo y superficie de un elemento*/
/*clase=".light-background" en html*/
.light-background {
  /*creamos dos variables personalizadas "background-color" y "surface-color", para darle color al fondo y ala superficie de la clase ".light-background" blanco*/
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}



/*
.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  /*--heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}*/


/* Smooth scroll */
/*
:root {
  scroll-behavior: smooth;
}
  */



/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

/*APLICAMOS ESTILOS A TODOS LAS ETIQUETAS DE BODY EN GENERAL(TODAS LAS PAGINAS CON HTML)*/
body {
    /*llamamos la variable "--Color-por-defecto" para colocar el color al texto de la estructura basica de html var=(sirve para llamar las variables y reutilizarlas) , color=(colocar color al texto) */
    color: var(--Color-por-defecto);
     /*llamamos la variable "--Color-fondo-pagina" para colocar el color al fondo de la pagina var= sirve para llamar las variables y reutilizarlas, background-color=(colocar color al fondo) */
    background-color: var(--Color-fondo-pagina);
     /*llamamos la variable "--Fuente_por_defecto" para colocar diferentes fuents en distintos dispositivos y plataformas de la estructura basica de html var= sirve para llamar las variables y reutilizarlas, font-family= (colocar tipo de fuente)*/
    font-family: var(--Fuente_por_defecto);
  }
  

/*--------------------------------------------------------------
# MENU DE NAVEGACION
--------------------------------------------------------------*/

  /*APLICAMOS ESTILOS A TODOS LAS ETIQUETAS DE A EN GENERAL(TODAS LAS PAGINAS CON HTML) ENLACES DEL MENU*/
  a {
     /*llamamos la variable "--Color-texto-enlace" para colocar color a los enlaces del menu de la estructura basica de html var= sirve para llamar las variables y reutilizarlas, color=(colocar color al texto)*/
    color: var(--Color-texto-enlace);
    /*text-decoration=(es una propiedad CSS que controla el estilo de decoración del texto)= ,none=(Elimina el subrayado predeterminado de los enlaces)*/
    text-decoration: none;
    /*transition=(propiedad CSS que permite que los cambios en las propiedades de un elemento ocurran de manera gradual en lugar de instantánea),
    *0.3s=(especifica la duración de la transición en segundos (300 milisegundos). Esto significa que cualquier cambio en las propiedades que afectan al enlace (como el color) se animará durante 0.3 segundos*/
    transition: 0.3s;
  }
  
  /*definimos el conportamiento del enlace del menu al pasar con el raton por encimaa <a>*/
  a:hover {
    /*color= para colocar color al texto, color-mix= combinar colores, in srgb= espacio de color en el que se debe realizar la mezcla,var= sirve para llamar las variables y reutilizarlas,
    transparen= combina el color del acento con el color trnsparente en un 25%*/
    color: color-mix(in srgb, var(--Color-de-acento), transparent 25%);
    /*elimina cualquier decoración predeterminada del enlace*/
    text-decoration: none;
  }
  

/*--------------------------------------------------------------
# TITULOS Y SUBTITULOS DEL ENCABEZADO DE LA PAGINA WEB
--------------------------------------------------------------*/

 /*aplica a todos los elementos de encabezado, desde <h1> hasta <h6>*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /*Establece el color del texto de los encabezados,color=(colocar color al texto), var= sirve para llamar las variables y reutilizarlas*/
    color: var(--Color-del-encabezado);
    /*Establece la fuente que se usará para los encabezados, font-family= fuentes de letras, var= sirve para llamar las variables y reutilizarlas*/
    font-family: var(--Fuente-delencabezado);
  }
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; /* Espaciado entre columnas */
  }
  
  .skills-content {
    padding: 20px;
    background-color: #f4f4f4; /* Fondo gris claro para la sección de habilidades */
  }
  
  .skills-animation {
    transition: transform 0.3s ease-in-out;
  }
  
  .skills-animation:hover {
    transform: scale(1.05); /* Escala el elemento ligeramente al pasar el ratón */
  }